/url/cache
/.emacs.desktop
/auto-save-list
/network-security.data
/.session
/session.*
/custom.el
/kmacro.el
/service-prodigy.el
/abbrev_defs
/eudc-options
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
.\#*
/elpa
/quelpa
/persp-confs
/elpa-*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/anaconda-mode/
/.historian
/.uptimes.el
/rake.cache
/plantuml.jar
/.pdf-view-restore
/magithub/
/transient/
/forge-database.sqlite
/.trello/
/request/
/server
/.docsets/
/tldr/
/.cache/
/nov-places
/GRTAGS
/GPATH
/GTAGS
/irony/
/eclipse.jdt.ls/
/workspace/
/meghanada/
/.lsp*
/init-local.el
